body {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    background-color: black;
    background-image:  linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

footer {
    position: fixed;
    padding: 10px;
    color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
}
.footer {
    text-align: center;
}
@media (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between;
    }
}